{% extends "base/base.html" %}

{% block title %}
  <title>Список проектів</title>
{% endblock %}

{% block header %}
  {% include "includes/headers/header-main.html" %}
{% endblock %}


{% block content %}
  <main class="main">
    <!-- Кнопка "Назад" -->
    <div class="back-button-container">
      <a href="{% url "taskhub:profile" %}" class="back-button">Назад до профілю</a>
    </div>


    <section class="project-controls">
      <h1>Проекти</h1>
      <!-- Фільтрація за статусом -->
      <div class="filter-section">
        <label for="status-filter">Фільтр за статусом:</label>
        <select id="status-filter">
          <option value="all">Всі</option>
          <option value="active">Активні</option>
          <option value="completed">Завершені</option>
        </select>
      </div>
      <!-- Управління проектами -->
      <div class="project-actions">
        <a href="{% url 'taskhub:create-project' %}" class="btn-link">Створити новий проект</a>
      </div>
    </section>

    <!-- Список проектів -->
    <section class="projects-list">
      {% for project in page_obj %}
        <div class="project-card">
          <h2><a href="{% url 'taskhub:project-details' project.pk %}">{{ project.name }}</a></h2>
          <p><strong>Дедлайн:</strong> {{ project.deadline }}</p>
          <p><strong>Статус:</strong> {{ project.status_display }}</p>
          <a href="{% url 'taskhub:project-update' project.pk %}" class="btn-link">Редагувати</a>
          <a href="{% url 'taskhub:delete-project' project.pk %}" class="btn-link">Видалити</a>
        </div>
      {% endfor %}
    </section>
    {% block pagination %}
      {% include "includes/pagination/pagination.html" %}
    {% endblock %}
  </main>
{% endblock %}