{% extends "base/base.html" %}
{% block title %}
  <title>Команда</title>
{% endblock %}


{% block header %}
  {% include "includes/headers/header-main.html" %}
{% endblock %}

{% block content %}

  <main>
    <!-- Кнопка "Назад" -->
    <div class="back-button-container">
      <a href="{% url 'taskhub:profile' %}" class="back-button">Назад до профілю</a>
    </div>
    <!-- Інформація про команду -->
    <section id="team-details">
      <h1>Команда: Розробники</h1>
      <p>Опис команди, її мета та поточні проекти.</p>
    </section>

    <!-- Учасники команди -->
    <section id="team-members">
      <h2>Учасники</h2>
      <div class="member-grid">
        <div class="member-card">
          <h3>Олексій</h3>
          <p>Роль: Розробник</p>
        </div>
        <div class="member-card">
          <h3>Ірина</h3>
          <p>Роль: QA Інженер</p>
        </div>
        <!-- Додати більше учасників тут -->
      </div>
    </section>

    <!-- Активні проекти -->
    <section id="active-projects">
      <h2>Активні проекти</h2>
      <div class="project-list">
        <div class="project-item">
          <h3>Проект 1</h3>
          <p>Короткий опис проекту...</p>
          <button>Переглянути проект</button>
        </div>
        <div class="project-item">
          <h3>Проект 2</h3>
          <p>Короткий опис проекту...</p>
          <button>Переглянути проект</button>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
