{% extends "base/base.html" %}
{% block title %}
  <title>Перелік команд</title>
{% endblock %}


{% block header %}
  {% include "includes/headers/header-main.html" %}
{% endblock %}

{% block content %}
  <main class="main">
    <!-- Кнопка "Назад" -->
    <div class="back-button-container">
      <a href="{% url 'taskhub:profile' %}" class="back-button">Назад до профілю</a>
    </div>


    <h1>Мої команди</h1>
    <section class="teams-list">

      {% for team in worker_teams %}
        <div class="team-card">
          <h2><a href="#">{{ team.name }}</a></h2>
          <p>{{ team.description }}</p>
        </div>
      {% endfor %}

    </section>
  </main>
{% endblock %}