{% extends "base/base.html" %}

{% block title %}
  <title>Reset Password</title>
{% endblock %}

{% block header %}
  {% include "includes/headers/header-main.html" %}
{% endblock %}

{% block content %}
  <main class="main-index">
    <div class="content" style="width: 100%; max-width: 500px;">
      <h1>Скинути пароль</h1>
      <form class="form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Скинути</button>
        <button type="button" onclick="window.history.back();" class="btn">Назад</button>
      </form>

    </div>
  </main>
{% endblock %}
