{% extends "base/base.html" %}
{% block header %}
  {% include "includes/headers/header-main.html" %}
{% endblock %}

{% block content %}
  <main class="main-index">
    <div class="content" style="width: 100%; max-width: 500px;">
      {% block h1 %}
      {% endblock %}

      <p>Are u sure you want to delete:
        {% block delete_object %}
          <strong>
          </strong>
        {% endblock %}
      </p>

      <form class="form" action="#" method="post">
        {% csrf_token %}
        {{ form }}
        <input name="referer" type="hidden" value="{{ request.META.HTTP_REFERER }}">
        <button type="submit">Видалити</button>
        <a href="{{ referer }}" class="btn-link">Назад</a>
      </form>

    </div>
  </main>
{% endblock %}