{% extends "base/base.html" %}

{% block title %}
  <title>Завдання</title>
{% endblock %}

{% block header %}
  {% include "includes/headers/header-main.html" %}
{% endblock %}

{% block content %}
  <main class="main">
    <!-- Кнопка "Назад" -->
    <div class="back-button-container">
      <a href="{% url 'taskhub:profile' %}" class="back-button">Назад до профілю</a>
    </div>


    <section class="tasks-controls">
      <h1>Завдання</h1>
      <!-- Фільтри -->
      <div class="filters">
        <label for="status-filter">Фільтр за статусом:</label>
        <select id="status-filter">
          <option value="all">Всі</option>
          <option value="active">Активні</option>
          <option value="completed">Виконані</option>
          <option value="overdue">Прострочені</option>
        </select>

        <label for="priority-filter">Фільтр за пріоритетом:</label>
        <select id="priority-filter">
          <option value="all">Всі</option>
          <option value="high">Високий</option>
          <option value="medium">Середній</option>
          <option value="low">Низький</option>
        </select>

        <label for="team-filter">Фільтр за командою:</label>
        <select id="team-filter">
          <option value="all">Всі</option>
          <option value="dev">Розробники</option>
          <option value="qa">QA Інженери</option>
        </select>
      </div>
    </section>

    <!-- Список завдань -->
    <section class="tasks-list">
      {% for task in worker_tasks%}
      <div class="task-card">
        <h2><a href="{% url 'taskhub:task-details' task.pk %}">{{ task.name }}</a></h2>
        <p><strong>Статус:</strong>{{ task.status_display }}</p>
        <p><strong>Пріоритет:</strong>{{ task.priority }}</p>
        <p><strong>Команда:</strong>{{ task.project.team.name }}</p>
      </div>
      {% endfor %}

    </section>
  </main>
{% endblock %}
