{% extends "base/base.html" %}


{% block header %}
  {% include "includes/headers/header-main.html" %}
  
{% endblock %}

{% block content %}
<main class="main">

  <!-- Кнопка "Назад" -->
  <div class="back-button-container">
    <a href="{{ referer }}" class="back-button">Назад до списку завдань</a>
  </div>

  <!-- Інформація про завдання -->
  <section class="task-details">
    <h1>{{ task.name }}</h1>
    <p>{{ task.created_at }}</p>
    <br>
    <p><strong>Статус:</strong> {{ task.status_display }}</p>
    <p><strong>Пріоритет:</strong> {{ task.priority }}</p>
    <p><strong>Дедлайн:</strong> {{ task.deadline }}</p>
    <p><strong>Команда:</strong> {{ task.project.team.name }}</p>
    <p><strong>Виконавці завдання:</strong> {{ task.assignees.all|join:", " }}</p>
    <br>
    <p class="task-description"><strong>Опис:</strong> {{ task.description }}</p>

    <button class="edit-btn">Редагувати завдання</button>
  </section>

  <!-- Коментарі -->
  <section class="task-comments">
    <h2>Коментарі</h2>
    
    <!-- Список коментарів -->
    <div class="comment-box">
      {% if task.commentaries.exists %}
        {% for commentary in task.commentaries.all %}
          <div class="comment">
            <p><strong>{{ commentary.worker.username }}</strong></p>
            <p class="task-description">{{ commentary.commentary_content }}</p>
            <span class="comment-meta">{{ commentary.created_at|date:"d.m.Y H:i" }}</span>
          </div>
        {% endfor %}
      {% else %}
        <p>Поки немає коментарів. Будьте першим!</p>
      {% endif %}
    </div>

    <!-- Форма для написання коментаря -->
    <form class="comment-form" action="{% url 'taskhub:task-detail' task.pk %}" method="post">
      {% csrf_token %}
      <textarea name="commentary_content" placeholder="Напишіть свій коментар..." required></textarea>
      <button type="submit" class="submit-btn">Додати коментар</button>
    </form>
  </section>
</main>
{% endblock %}
